# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/

# IDEs
.vscode/
.idea/
*.iml

contracts/*/schema*
contracts/smart-accounts/*/schema*

# Auto-gen
.cargo-ok

# code coverage
tarpaulin-report.*

*.env
**/node_modules/
